<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://bohrtein.github.io/tv-casting/tv-receiver"
        version="0.1.0"
        viewmodes="fullscreen">
    <tizen:application id="TvCstRecv1.TVCastingReceiver"
        package="TvCstRecv1"
        required_version="4.0"/>
    <name>TV Casting Receiver</name>
    <icon src="icon.png"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:profile name="tv"/>
    <!-- WebSocket connection to the relay on the home LAN. -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <!-- Required for webapis.avplay to be exposed at all -- without this,
         webapis.js still loads but the avplay sub-object is undefined,
         which is exactly the "webapis.avplay is not available on this
         device" error player.js reports. -->
    <tizen:privilege name="http://tizen.org/privilege/tv.avplay"/>
    <tizen:setting screen-orientation="landscape"
        context-menu="disable"
        background-support="disable"
        encryption="disable"
        install-location="auto"
        hwkey-event="enable"/>
</widget>
